body {
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.navbar {
  padding: 15px 30px;
  background: #020617;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.admin-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 40px;
}

.admin-card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
}

.admin-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.admin-card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

.admin-product {
  background: #020617;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.admin-product img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}