body {
  margin: 0;
  font-family: Arial;
  background: #f6f1eb;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.navbar a {
  text-decoration: none;
  color: #5a4a2f;
  margin-left: 10px;
}

/* PAGE */
.cart-page {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* FORM */
.customer-form {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.customer-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

/* CART */
.cart-items {
  width: 60%;
}

.cart-item {
  display: flex;
  gap: 10px;
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* SUMMARY */
.cart-summary {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #8c6a3f;
  color: white;
  border: none;
  cursor: pointer;
}