body {
  margin: 0;
  font-family: Arial;
  background: #f6f1eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  background: white;

  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 40px;
}

/* LAYOUT */
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

/* FORM */
.form {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.form input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

/* CART */
#cartItems {
  flex: 1;
}

.cart-item {
  display: flex;
  gap: 10px;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/* SUMMARY */
.summary {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.summary button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}