/* ===== GLOBAL ===== */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #f6f1eb, #efe2d2);
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 25px;
  background: rgba(255,255,255,0.85);

  position: sticky;
  top: 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 10px;
}

.logo span {
  font-size: 18px;
  font-weight: bold;
  color: #8c6a3f;
}

/* ===== NAV ===== */
.navbar nav {
  display: flex;
  gap: 12px;
}

.navbar nav a {
  text-decoration: none;
  color: #5c4632;
  padding: 6px 10px;
  border-radius: 8px;
}

.navbar nav a:hover {
  background: rgba(184,155,94,0.2);
}